@use "vars" as *;

/* ====================================================
Header
==================================================== */
.main-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	transition: .3s;
	padding: 20px 20px;
	@include mq{
		padding: 20px 15px;
		background: #fff;
	}
	
	&__logo{
		width: 138px;
		@include fn-hover;
		@include mq{
			width: 93px;
		}
	}
	&__navGlobal{
		display: none;
		@include mq{
			position: fixed;
			top: 60px;
			left: 0;
			padding: 27px 25px 70px;
			width: 100%;
			background: #333;
			backdrop-filter: blur(10px);
			height: 100vh;
			overflow-y: scroll;
		}
	}
	&__menu{
		&-item{
			border-bottom: 1px solid #fff;
		}
	}
	&__link{
		display: block;
		@include font-size(16);
		font-weight: 600;
		color: #fff;
		padding: 27px 20px;
		position: relative;
		text-align: left;
		@include p-before(8px, 4px){
			background: url(../img/common/arr-single-wt.png) no-repeat center/100%;
			top: calc(50% - 2px);
			left: 0;
		}
	}
	&__mobile-icon {
		position: absolute;
		top: 0;
		right: 0;
		display: none;
		width: 60px;
		height: 60px;
		z-index: 102;
		cursor: pointer;
		@include mq{
			display: block;
		}
		&-border{
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			display: block;
			width: 18px;
			height: 3px;
			user-select: none;
			transition: background-color 0.3s;
			background: #333;
			&:nth-child(1){
				margin-top: 5px;
				margin-left: -9px;
			}
			&:nth-child(3){
				margin-top: -5px;
				margin-left: -9px;
			}
		}
	}
}


// mobile menu btn animation
@media screen and (max-width: 1024px) {
	.main-header__mobile-icon-border:nth-child(1) {
		-webkit-animation: click-header-sp-bar-1-close 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards;
		animation: click-header-sp-bar-1-close 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards
	}
	
	@-webkit-keyframes click-header-sp-bar-1-close {
		0% {
			transform: translateY(5px) rotate(45deg)
		}
		50% {
			transform: translateY(5px) rotate(0)
		}
		100% {
			transform: translateY(0) rotate(0)
		}
	}
	@keyframes click-header-sp-bar-1-close {
		0% {
			transform: translateY(5px) rotate(45deg)
		}
		50% {
			transform: translateY(5px) rotate(0)
		}
		100% {
			transform: translateY(0) rotate(0)
		}
	}
	.main-header__mobile-icon-border:nth-child(2) {
		-webkit-animation: click-header-sp-bar-2-close 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards;
		animation: click-header-sp-bar-2-close 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards
	}
	@-webkit-keyframes click-header-sp-bar-2-close {
		0% {
			opacity: 0
		}
		20% {
			opacity: 0
		}
		100% {
			opacity: 1
		}
	}
	@keyframes click-header-sp-bar-2-close {
		0% {
			opacity: 0
		}
		20% {
			opacity: 0
		}
		100% {
			opacity: 1
		}
	}
	.main-header__mobile-icon-border:nth-child(3) {
		-webkit-animation: click-header-sp-bar-3-close 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards;
		animation: click-header-sp-bar-3-close 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards
	}
	@-webkit-keyframes click-header-sp-bar-3-close {
		0% {
			transform: translateY(-5px) rotate(-45deg)
		}
		50% {
			transform: translateY(-5px) rotate(0)
		}
		100% {
			transform: translateY(0) rotate(0)
		}
	}
	@keyframes click-header-sp-bar-3-close {
		0% {
			transform: translateY(-5px) rotate(-45deg)
		}
		50% {
			transform: translateY(-5px) rotate(0)
		}
		100% {
			transform: translateY(0) rotate(0)
		}
	}
	
//menu opened		
	.mobile-close .main-header__mobile-icon-border:nth-child(1) {
		margin-top: -5px;
		-webkit-animation: click-header-sp-bar-1-open 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards;
		animation: click-header-sp-bar-1-open 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards
	}
	@-webkit-keyframes click-header-sp-bar-1-open {
		0% {
			transform: translateY(0) rotate(0)
		}
		50% {
			transform: translateY(5px) rotate(0)
		}
		100% {
			transform: translateY(5px) rotate(45deg)
		}
	}
	@keyframes click-header-sp-bar-1-open {
		0% {
			transform: translateY(0) rotate(0)
		}
		50% {
			transform: translateY(5px) rotate(0)
		}
		100% {
			transform: translateY(5px) rotate(45deg)
		}
	}
	.mobile-close .main-header__mobile-icon-border:nth-child(2) {
		-webkit-animation: click-header-sp-bar-2-open 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards;
		animation: click-header-sp-bar-2-open 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards
	}
	@-webkit-keyframes click-header-sp-bar-2-open {
		0% {
			opacity: 1
		}
		80% {
			opacity: 0
		}
		100% {
			opacity: 0
		}
	}
	@keyframes click-header-sp-bar-2-open {
		0% {
			opacity: 1
		}
		80% {
			opacity: 0
		}
		100% {
			opacity: 0
		}
	}
	.mobile-close .main-header__mobile-icon-border:nth-child(3) {
		margin-top: 5px;
		-webkit-animation: click-header-sp-bar-3-open 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards;
		animation: click-header-sp-bar-3-open 0.8s cubic-bezier(0.45, 0.12, 0.04, 0.96) forwards
	}
	@-webkit-keyframes click-header-sp-bar-3-open {
		0% {
			transform: translateY(0) rotate(0)
		}
		50% {
			transform: translateY(-5px) rotate(0)
		}
		100% {
			transform: translateY(-5px) rotate(-45deg)
		}
	}
	@keyframes click-header-sp-bar-3-open {
		0% {
			transform: translateY(0) rotate(0)
		}
		50% {
			transform: translateY(-5px) rotate(0)
		}
		100% {
			transform: translateY(-5px) rotate(-45deg)
		}
	}
}


