@use "vars" as *;

/* ====================================================
Layout
==================================================== */
.wrapper{
	padding-top: 70px;
	@include mq{
		padding-top: 60px;
	}
}

body{
	background: url(../img/index/bg-mv.png) no-repeat top -182px right 59%/1852px 1785px;
	@include mq{
		background: none;
	}
}

.inner{
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
	@include mq() {
		width: 100%;
		padding: 0 5%
	}
}


.form-control{
	width: 100%;
	height: 50px;
	border: 1px solid #707070;
	border-radius: 3px;
	padding: 0 15px;
	outline: 0;
	@include font-size(15);
	background: #fff;
	&--select{
		background: url(../img/common/arr-select.png) no-repeat top 50% right 15px/9px 5px;
	}
	&--textarea{
		padding: 15px;
		height: 300px;
		resize: none;
		@include mq{
			height: 160px;
		}
	}
	&::placeholder{
		color: #ABB3BA;
	}
}


.mwform-checkbox-field-text{
	@include mq(md-min){
		padding-right: 58px !important;
	}
}


.mwform-checkbox-field label,
.mwform-radio-field label,
.pure-input{
	position: relative;
	@include font-size(16);
	font-weight: 600;
	display: inline-block;
	input{
		position: absolute;
		top:  0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		opacity: 0;
		cursor: pointer;
		&[type="checkbox"]{
			& + span{
				padding: 3px 0 3px 43px;
				@include mq{
					padding: 3px 0 3px 36px;
					line-height: 1.3;
				}
				&::before{
					width: 25px;
					height: 25px;
					@include mq{
						top: 0;
						transform: none;
					}
					@include mq(sm){
						top: 10px;
					}
				}
				&:after{
					background-color: transparent;
					left: 9px;
					width: 12px;
					height: 4px;
					border-style: solid;
					border-color: white;
					border-width: 0 0 2px 2px;
					border-image: none;
					transform: rotate(-45deg) scale(0);
					@include mq {
						top: 7px;
						left: 8px;
						width: 14px;
						height: 5px;
					}
					@include mq(sm){
						top: 10px;
						left: 1px;
					}
				}
			}
			&:checked{
				& + span{
					&:after{
						content: '';
						transform: rotate(-45deg) scale(1);
						transition: transform 200ms ease-out;
					}
					&:before {
						background: $color-base;
					}
				}
			}
		}
		&[type="radio"]{
			+ span{
				&:after,&:before{
					border-radius: 50%;
				}
				&:after{
					top: 4px;
					left: 4px;
					width: 13px;
					height: 13px;
					@include mq(){
						left: 5px;
						width: 9px;
						height: 9px;
					}
				}
			}
			&:checked{
				& + span{
					&:before{
						animation: borderscale 300ms ease-in;
						background-color: white;
					}
					&:after{
						transform: scale(1);
					}
				}
			}
		}
	}
	span{
		display: block;
		position: relative;
		padding: 3px 0 3px 35px;
		user-select: none;
		cursor: pointer;
		@include mq {
			padding: 2px 0 2px 24px;
		}
		&:before{
			box-sizing: content-box;
			content: '';
			background: #fff;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 1px;
			width: 25px;
			height: 25px;
			border-radius: 3px;
			border: 1px solid $color-base;
			text-align: center;
			transition: all 0.4s ease;
			@include mq{
				width: 15px;
				height: 15px;
			}
		}
		&:after{
			box-sizing: content-box;
			content: '';
			background-color: #233F5E;
			position: absolute;
			top: 5px;
			left: 4px;
			width: 10px;
			height: 10px;
			transform: scale(0);
			transform-origin: 50%;
			transition: transform 200ms ease-out;
		}
	}
}

