<header id="main-header" class="main-header">
	<h1 class="main-header__logo">
		<a href="<%= RELATIVE_PATH %>"><img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="ASUIKU"></a>
	</h1>
	<span class="main-header__mobile-icon">
		<span class="main-header__mobile-icon-border"></span>
		<span class="main-header__mobile-icon-border"></span>
		<span class="main-header__mobile-icon-border"></span>
	</span>
	<nav class="main-header__navGlobal">
		<ul class="main-header__menu" role="list">
			<li class="main-header__menu-item"><a href="#gallery" class="main-header__link js-scroll">Gallery</a></li>
			<li class="main-header__menu-item"><a href="#company" class="main-header__link js-scroll">Company info</a></li>
			<li class="main-header__menu-item"><a href="#contact" class="main-header__link js-scroll">Contact us</a></li>
		</ul>
	</nav>
</header>

